#click1{
    background-color: rgb(255, 107, 181);
    border-radius: 5%;
    border: 0px;
    height: 10vh;
    width: 30vh;
    font-size: x-large;
}

.bl{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 30vh;
width: 100vw;
gap: 5vh;
background-color: rgb(255, 50, 95);
}

#finish{
    color: rgb(201, 22, 255);
    font-size: x-large;
}

#bl2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100vw;
    gap: 5vh;
    background-color: rgb(255, 161, 21);
    }


.p2{
    color: aliceblue;
    font-size: x-large;
}

#resettime {
    background-color: rgb(255, 230, 120);
    border-radius: 5%;
    border: 0px;
    height: 10vh;
    width: 30vh;
    font-size: x-large;
}

#bl3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100vw;
    gap: 5vh;
    background-color: rgb(151, 30, 221);
    }

    #start, #stop, #reset {
        background-color: rgba(20, 0, 119, 0.855);
        border-radius: 5%;
        border: 0px;
        height: 10vh;
        width: 30vh;
        font-size: x-large;
    }